<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page Chaveiro</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="container flex">
                <span id="logo">Logotipo</span>
                <nav>
                    <ul>
                        <li class="links"><a href="#" class="link">link</a></li>
                        <li class="links"><a href="#" class="link">link</a></li>
                        <li class="links"><a href="#" class="link">link</a></li>
                    </ul>
                    <div class="button">
                        <button>Let's Work</button>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</body>
</html>