<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page Chaveiro</title>
    <link rel="stylesheet" href="../view/style.css">
    <script src="../controller/script.js" defer></script>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="container flex">
                <span id="logo">Logotipo</span>
                <nav>
                    <button class="close-menu" id="closeMenu">✕</button>
                    <ul>
                        <li class="links"><a href="#" class="link">link</a></li>
                        <li class="links"><a href="#" class="link">link</a></li>
                        <li class="links"><a href="#" class="link">link</a></li>
                    </ul>
                    <div class="button">
                        <button>Let's Work</button>
                    </div>
                </nav>
                <button class="hamburger" id="hamburger">
                    ☰
                </button>
            </div>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container flex">
                <div class="heroText">
                    <h1>Chaveiro 24 horas</h1>
                    <h2>abertura de portas, automotivo, troca e instalação de fechaduras sem danos. Chegada em 20-30
                        min.</h2>
                    <button>Chamar no Whatsapp</button>
                </div>

                <div class="heroImage">
                    <picture>
                        <img src="../assets/imagemTeste.jpg" alt="Imagem Hero">
                    </picture>
                    <div class="imageDescription">
                        <p>Selo 24H</p>
                        <p>30 - 40 MIN</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="benefits">
            <div class="container flex">
                <h2>Benefícios</h2>
                <h3>abertura de portas, automotivo,
                    troca e instalação de fechaduras sem danos</h3>

                <div class="cards">
                    <div class="benefitsCards">
                        <div class="topCard">
                            <div class="imageTop">
                                <img src="/assets/imagemTeste.jpg" alt="Imagem Topo do Cartão">
                            </div>
                            <div class="textTop">
                                <h3>title card</h3>
                            </div>
                        </div>
                        <div class="thumbnailCard">
                            <img src="/assets/imagemTeste.jpg" alt="Imagem do Cartão">
                        </div>
                        <div class="bottomCard">
                            <h3>Title Description</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque est fugiat aperiam porro
                                laudantium quae temporibus sunt, facilis nesciunt nisi! Hic, consectetur voluptatibus.
                            </p>
                        </div>
                    </div>
                    <div class="benefitsCards">
                        <div class="topCard">
                            <div class="imageTop">
                                <img src="/assets/imagemTeste.jpg" alt="Imagem Topo do Cartão">
                            </div>
                            <div class="textTop">
                                <h3>title card</h3>
                            </div>
                        </div>
                        <div class="thumbnailCard">
                            <img src="/assets/imagemTeste.jpg" alt="Imagem do Cartão">
                        </div>
                        <div class="bottomCard">
                            <h3>Title Description</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque est fugiat aperiam porro
                                laudantium quae temporibus sunt, facilis nesciunt nisi! Hic, consectetur voluptatibus.
                            </p>
                        </div>
                    </div>
                    <div class="benefitsCards">
                        <div class="topCard">
                            <div class="imageTop">
                                <img src="/assets/imagemTeste.jpg" alt="Imagem Topo do Cartão">
                            </div>
                            <div class="textTop">
                                <h3>title card</h3>
                            </div>
                        </div>
                        <div class="thumbnailCard">
                            <img src="/assets/imagemTeste.jpg" alt="Imagem do Cartão">
                        </div>
                        <div class="bottomCard">
                            <h3>Title Description</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque est fugiat aperiam porro
                                laudantium quae temporibus sunt, facilis nesciunt nisi! Hic, consectetur voluptatibus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="services">
            <div class="container flex">
                <h2>Nossos Serviços</h2>
                <div class="content">
                    <div class="blockText">
                        <h3>Frase</h3>
                        <h2>Title</h2>
                        <p>abertura de portas, automotivo, troca e instalação de fechaduras sem danos. Chegada em 20-30
                            min.</p>
                    </div>
                    <div class="extraContent"> <!--**  Colocar o dropdown -->
                        <div class="dropdown">
                            <h3>Chaveiro Automotivo</h3>
                            <button>&darr;</button>
                        </div>
                        <div class="dropdown">
                            <h3>Chaveiro Automotivo</h3>
                            <button>&darr;</button>
                        </div>
                        <div class="dropdown">
                            <h3>Chaveiro Automotivo</h3>
                            <button>&darr;</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="aboutUs"></section>
        <section class="contact"></section>
    </main>
</body>

</html>