<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page Chaveiro</title>
    <link rel="stylesheet" href="../view/style.css">
    <script src="../controller/script.js" defer></script>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="container flex">
                <span id="logo">Logotipo</span>
                <nav>
                    <button class="close-menu" id="closeMenu">✕</button>
                    <ul>
                        <li class="links"><a href="#" class="link">link</a></li>
                        <li class="links"><a href="#" class="link">link</a></li>
                        <li class="links"><a href="#" class="link">link</a></li>
                    </ul>
                    <div class="button">
                        <button>Let's Work</button>
                    </div>
                </nav>
                <button class="hamburger" id="hamburger">
                    ☰
                </button>
            </div>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container flex">
                <div class="heroText">
                    <h1>title</h1>
                    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae laborum est rem harum dolorum, facere</h2>
                    <button>Let's work</button>
                </div>

                <div class="heroImage">
                    <picture>
                        <img src="../assets/imagemTeste.jpg" alt="Imagem Hero" style="height: 300px;">
                    </picture>
                </div>
            </div>
        </section>
    </main>
</body>
</html>