@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/** Configuração Padrão da Página*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: white;
    background-color: #81ADC3;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

/** Configuração padrão dos elementos de texto da Página*/

h1 {
    font-size: 38px;
    font-weight: 900;
    /* Black*/
    line-height: 38px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    /* Bold*/
    line-height: 38px;
}

p {
    font-size: 16px;
    font-weight: 400;
    /* Regular*/
    line-height: 24px;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 38px;
}

span {
    font-size: 20px;
    font-weight: 900;
    line-height: 38px;
    text-transform: uppercase;
}

/** Configuração dos Botões da Página*/
button {
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #223592;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}

.hamburger {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.close-menu {
    display: none;
    align-self: flex-end;
    padding: 8px 12px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 15px;
}

/** ---------------------------------------------------------------------------- */

/** Configuração do display da pagina*/

.container {
    margin: 0 auto;
    max-width: 1400px;
    overflow: hidden;
}


/** HEADER */
.navbar {
    height: 80px;
    padding: 0 24px;
}

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 9px;
}

/** HERO*/

.hero {
    height: calc(100vh - 80px);
    padding: 0 24px;
}

.hero .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.heroText {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    text-transform: uppercase;
}

.heroText h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.heroText button {
    font-size: 22px;
    font-weight: 900;
}

.heroImage {
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heroImage img {
    height: 300px;
    width: 400px;
}

.imageDescription {
    display: flex;
    justify-content: space-around;

}

.imageDescription p {
    background-color: #81ADC3;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 12px;
    border-radius: 100px;
}








































/** Responsividade da Pagina*/

@media (max-width: 768px) {
    .navbar nav {
        display: none;
        position: absolute;
        top: 0;
        left: 1;
        right: 0;
        height: 100%;
        width: 80%;
        background-color: #223592;
        flex-direction: column;
        padding: 20px;
    }

    .hamburger {
        display: block;
    }

    .navbar nav.ativo {
        display: flex;
    }

    .navbar ul {
        flex-direction: column;
        gap: 20px;
    }

    .close-menu {
        display: block;

    }

    .close-menu:hover {
        opacity: 0.7;
    }
}